<html>
    <body>
        <h1>Cadastro de livros</h1>
        
        <form action="/livros" method="post">

        <if (data.book.id)>
            <input type="hidden" name="_method" value="PUT"/>
            <input type="hidden" id="id" name="id" value=`${data.book.id}` />
        </if>

            <div>
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo" name="titulo" value=data.book.titulo placeholder="coloque o titulo" />
            </div>
            <div>
                <label for="preco">Preço:</label>
                <input type="text" id="preco" name="preco" value=data.book.preco placeholder="150.25" />
            </div>
            <div>
                <label for="descricao">Descrição:</label>
                <textarea cols="20" rows="10"  
                id="descricao" name="descricao" 
                placeholder="fale sobre o livro">${data.book.descricao}</textarea>
            </div>

            <input type="submit" value="Salvar" />

        </form>

    </body>
</html>